.js-square-container{
  border: 2px solid purple;
  padding: 10px;
}

.square {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.bg-blue {
  background-color: #00f;
}

.bg-red {
  background-color: #f00;
}

.bg-green {
  background-color: #0f0;
}



/* Nuotraukų įkėlimo pavyzdžio klasės ---------- */
.gallery-container {
  border: 2px solid blue;
  height: 700px;
  padding-bottom: 20px;
  overflow: auto;
}

.img-container {
  height: 320px;
  display: inline-block;
  margin-bottom: 20px;
}

.image {
  background-size: cover;
  background-position: center;
  background-position: center;
  margin: 20px;
  width: calc(100% - 40px);
  height: 100%;
  border: 2px solid red;
}

/* ----------------------------------------------- */