body{
  margin: 0;
  background: #f0808050;
}
.cover{
  background: url(img/background.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;
}
nav{
  background: blue;
  padding: 10px;
}
nav a{
  color: #000;
}
nav a:hover{
  color: #fff;
}

.container{
  background: red;
  width: 960px;
  margin  : auto;
}

h1{
  color: red;
}

a{
  text-decoration: none; 
}

.link-img{
  height: 40px;
}

.panel1{
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border: 5px solid magenta;
  display: inline-block;
  background-color: red;
}

.panel2{
  padding: 10px;
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: aqua;
  display: inline-block;
  background-color: green;
}

.panel3{
  padding: 20px;
  margin: 0;
  border: 5px solid magenta;
  display: inline-block;
  background-color: blue;
}

.panel4{
  padding: 0;
  margin: 20px;
  border: 5px solid magenta;
  display: inline-block;
  background-color: yellow;
}

.contact{
  background: url(img/contact.png);
  width: 200px;
  height: 200px;
  background-size: cover;
  margin-bottom: 15px;
}

.contact1{background: url(img/contact1.png)}
.contact2{background: url(img/contact2.png)}
.contact3{background: url(img/contact3.png)}
.contact4{background: url(img/contact4.png)}
.contact5{background: url(img/contact5.png)}
.contact6{background: url(img/contact6.png)}

.contact-left{
  float: left;
  margin-right: 15px;
}

.contact-right{
  float: right;
  margin-left: 15px;
}

.clear-fix{
  display: block;
  height: 0;
  clear: both;
  width: 100%;
}

/* Tik mokymo tikslais */
.contact-text:nth-child(2n){
  text-align: right;
}
