body{
    margin: 0px;
    background: rgba(240, 128, 128, 0.322);
    opacity: .5;
}
.cover{
    background: url(img/background.jpg);
    background-size: cover;
    background-position-x: center;
    height: 100vh;
}
nav{
    background: blue;
    padding: 10px;
}
nav>a{
color:black;
}
nav a:hover{
    color: white;
}
h1{color: red}
h2{color: blue}
h3{color: green}
h4{color:yellow}
h5{color:purple}
h6{color:brown}

a{
    text-decoration: none;
}
.link-img{
    height: 80px;
    width: 80px;
}

img{
    height: 400px;
}
.container{
    width: 960px;
    margin: auto;
    background-color: red;
}

.panel1{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    overflow: auto;
    padding: 10px;
    margin: 10;
    border: 5px solid magenta;
    display: inline-block;
    background-color:red;
}
.panel2{
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    border: 5px;
    display: inline-block;
    background-color: green;
}
.panel3{
    float: left;
    padding: 20px;
    margin: 0;
    border: 5px solid magenta;
    display: inline-block;
    background-color: blue}
.panel4{
    padding: 0px;
    margin: 20px;
    border: 5px solid magenta;
    display: inline-block;
    background-color: yellow;
}
.contact{
    background: url(IMG/contact.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;

}
.contact-left{
    float: left;
    margin-right: 15px;
}

.contact-right{
    float: right;
    margin-left: 15px;
}
.contact-text:nth-of-type(2n-1){
    text-align: right;
}
.clear-fix{
    display: block;
    height: 0;
    clear: both;
    width: 100%;
}