body{
  margin: 0;
}
nav{
  background: blue;
  padding: 10px;
}
nav a{
  color: #000;
}
nav a:hover{
  color: #fff;
}

.container{
  background: red;
  width: 960px;
  margin  : auto;
  text-align: center;
}



h1{
  color: red;
}

a{
  text-decoration: none; 
}

.link-img{
  height: 40px;
}
