.bg-brown th{
  background-color: #240f0a;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #240f0a17;
}

.table-striped tbody tr:hover{
  background-color: #240f0a3f;
}