body{
    margin: 0;
   
    
}
.cover{
    height: 100vh;
    background: url(img/background.jpg);
    background-size: cover;
nav{
    background: blue;
    padding: 10px;
}
nav>a{
    color: #000000
}
nav  a:hover{
    color: #ffffff
}

.container{
    background: red;
    width: 800px;
    margin: auto;
}
h1{
    color: red;
}
a{
    text-decoration: none;
}
.link.img{
    height: 40px;
}
.panel1{
    box-sizing: border-box;
    padding: 5px 10px 10px;
    margin: 10px;
    border: 5px;
    display: Inline-block;
    background-color: blue;
}
.panel2{
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    display: Inline-block;
    background-color: green;
}
.panel3{
    padding: 20px;
    margin: 0;
    border: 5px solid magenta;
    display: Inline-block;
    background-color: red;
}
.panel4{
    padding: 0;
    margin: 20px;
    border: 5px solid magenta;
    display: Inline-block;
    background-color: yellow;
}
.contact{
    background: url(img/contact.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-bottom: 15px;
}

.contact-left{
 float: left;
 margin-right: 15px;
}
.contact-right{
float: right;
margin-left: 15px;
}
.clear-fix{
    display: block;
    height: 0;
    clear: both;
    width: 100%;
    
}
.contact-text:nth-child(2n){
   text-align: right;
}