.content{
  background: url(../img/background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.content>.container{
  background: #ffffffd2;
  padding-top: 56px;
  height: 100vh;
  box-shadow: 
    2px 0 2px #000,
    inset 1px 0 1px #000,
    inset 2px 0 6px #000,
    -2px 0 2px #000,
    inset -1px 0 1px #000,
    inset -2px 0 6px #000;
}

.bg-brown{
  background-color: #240f0a;
  box-shadow: 2px 2px 2px #000;
}