body{
  font-family: 'Source Serif Pro', serif;
  background-color: #432814;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2343201c' fill-opacity='0.6'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1, h2, h3, h4, h5{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #863429;
  text-shadow: 3px 3px 3px #000;
}

.anchor{
  padding-top: 56px; 
  margin-top: -56px;
}
.bg-black{
  background-color: #432814;
}

#hero{
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  box-shadow: 2px -2px 4px 2px #000000 inset,
             -2px -2px 4px 2px #000000 inset,
              10px -40px 111px 10px #0000001f inset;
}

.header-font{
  font-family: 'Lobster', cursive;
  color: #863429;
  text-shadow: 4px 4px 2px  #000;
} 

.navbar{
  box-shadow: 2px 2px 2px #000, 2px 2px 6px #1b0b07; 
}

.content{
  min-height: 400px;
  padding: 30px 0;
}

#aboutUs{
  height: 592px;
}

.video{
  height: 792px;
  width: 1110px;
  margin: auto;
  display: block;
  box-shadow:  4px 4px 15px 5px #000;  
  transition: width .6s, height .6s;
}

.cover{
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 
    0  3px 10px #000000 inset, 
    0 -3px 10px #000000 inset,
    0  20px 20px #00000011 inset,
    0 -20px 20px #00000011 inset;
}

.header-low{
  position: relative;
  top: 210px;
}

.header-high{
  position: relative;
  bottom: 110px;
}

.cover-1{ background-image: url(img/cover1.jpg)}
.cover-2{ background-image: url(img/cover2.jpg)}

/* Instrumentų šeimų kortelės */
#instrumentFamilies{
  padding: 30px;
}

.family-img-container{
  padding: 40px;
  height: 550px;
  transition: all 0.3s ease-in-out;
}

.family-img-container a{ text-decoration: none}

.family-img-container:hover{
  padding: 0;
}

.family-img{
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: 7px 7px 5px #000;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: #ffffff00;
  transition: 
    box-shadow .6s ease-in-out,
    color .6s ease-in,
    text-shadow .6s ease-in;
}

.family-img:hover{
  box-shadow: 9px 9px 6px 2px#000;
  text-shadow: 4px 4px 2px  #000;
  color: #863429;
}

.family-img:hover::after{
  position: absolute;
  top: 37%;
  content: attr(title);
  text-align: center;
  display: block;
  width: 100%;
}

.family-img-carousel{
  height: 500px;
}

/* Formos stiliai */

#feedback{
  position: relative;
}

#form-feedback{
  position: absolute;
  width: 100%;
  bottom: 50px;
  background: #ffffffd0;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 7px 7px 5px 6px #000; 
}

.family-group-title{ font-size: 100px}

.keyboard{ background-image: url(img/keyboard.jpg)}
.strings{ background-image: url(img/strings.jpg)}
.wind{ background-image: url(img/wind.jpg)}
.drums{ background-image: url(img/drums.jpg)}

/* Footerio stilizavimas */
#footer{
  box-shadow: 0 -2px 2px #000;
}
#contacts{
  padding-top: 30px;
  padding-bottom: 30px;
}
.icon-container{
  width: 16px;
  margin-right: 7px;
}

.map-container{
  height: 300px;
  width: 100%;
}


/* iki SM */
@media (max-width: 575.98px) {
  .content{
    min-height: 200px;
  }

  .family-img-carousel{
    height: 200px;
  }

  .family-group-title{ font-size: 45px}

  .map-container{
    height: 250px;
  }
}

/* iki MD */
@media  (min-width: 575.98px) and (max-width: 767.98px) {
  .family-img-carousel{
    height: 350px;
  }

  .family-group-title{ font-size: 70px}

  .map-container{
    height: 350px;
  }
}

/* iki LG */
@media (max-width: 991.98px) {

}

/* iki XL */
@media (max-width: 1199.98px) {
  .video{
    height: 664px;
    width: 930px;
  }

  .family-img-container{
    height: 400px;
  }
}